*.gem
*.swp
*.pyc
*.pyo
*#*
*.sw*
build
dist
setuptools-*
.svn/*
.DS_Store
.cache/*
.tox/*
*.so
http_parser/parser.so
http_parser.egg-info
nohup.out
.coverage
doc/.sass-cache
http_parser/__pycache__
MANIFEST
